tarballs
*.swp
*~
configure
aclocal.m4
autom4te.cache
Makefile.orig
*.out
share
eval
run.rb
summarize.cpp
Test/SLATEC/Test
Test/gsl-1.14/specfunc/eval.cpp
Release
Release+Debug
Debug
maker_build
z3timeout-test
test_z3.sh
*.smt
SAT
UNSAT
UNKNOWN
bessel_min