*.o
*.la
*.lo
.libs
lib
Makefile
config.h
config.log
config.m4
config.status
cxx/Makefile
demos/calc/calc-config.h
demos/pexpr-config.h
fib_table.h
gen-bases
gen-fac_ui
gen-fib
gen-psqr
gmp-mparam.h
gmp.h
libtool
mp.h
mp_bases.h
mpz/fac_ui.h
stamp-h1
tune/sqr_basecase.c

